body{
    background-color: #ffffff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.articles {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.articles-title {
    font-size: 40px;
    font-weight: bold;
    color: #001064;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase; /* Deixa o título em maiúsculas */
    letter-spacing: 2px;
    padding-top: 160px;
}

.article-button {
    flex: 1;
    max-width: 350px; /* Aumenta a largura máxima dos botões */
    margin: 30px;
    padding: 20px;
    background-color: #c1dbc4;
    color: #34495e;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.articles a{
    transition: all 0.7s;
}

.articles a:hover{
    transform:translateY(-15px);
    box-shadow: 0px 5px 20px black;
}

.article-button img {
    max-width: 80%; /* Limita a imagem a 90% da largura do botão */
    height: auto;
    margin-bottom: 15px;
}

.article-button h3 {
    font-size: 18px; /* Define o tamanho do título como 20px */
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article-button p {
    font-size: 16px; /* Define o tamanho do texto como 16px */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 768px) {
    .article-button {
        max-width: 150px; /* Ajusta a largura em telas menores */
    }
}

@media (max-width: 480px) {
    .article-button {
        max-width: 100%; /* Largura total em telas muito pequenas */
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #9fbd98;
    padding: 15px;
    text-align: center;
    color: #34495e;
    left: 0;
    z-index: 1000;  /* Garantir que o footer fique acima do conteúdo */
}

.social-links a {
    color: white;
    text-decoration: none;
    font-size: 18px; /* Texto maior */
}

.social-links a:hover{
    text-decoration: underline;
}